# lesson01
# lesson02
# lesson03
# lesson04
# lesson05
# lesson06
# lesson07
lesson07/images
# lesson08
lesson09
lesson10
lesson11
lesson12
*.pdf
*.gz
*.tex
*.cls
*-notes.ipynb
.ipynb_checkpoints/
*.html
*.sty
2021-spring